.hello{
  font-size: 100px;
  color: red;
  margin: 1rem;
  font-style: oblique;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 10;
  margin-top: 400px;
}